@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'VT323', monospace;
  background-color: #000000;
  margin: auto;
  max-width: 70ch;
  color: #00FF41;
}
